# **GANDHAM PRASANTHI**

# **1MS19CS045**

#**FUNCTIONS**

---

## **QUESTIONS**

---

1. Write a python function geometric() that takes a list of integers as input and returns True if the integers in the list form a geometric sequence. A sequence a0, a1, a2, a3, a4, . . . , an is a geometric sequence if the ratios a1/a0, a2/a1, a3/a2, a4/a3, . . . , an-1/an are all equal.

  


```
geometric([2, 4, 8, 16, 32, 64, 128, 256])
  True

geometric([2, 4, 6, 8])
  False
```

2. Write a python function names() that takes no input and repeatedly asks the user to enter the first name of a student in a class. When the user enters the empty string, the function should print for every name the number of students with that name.


```
names()
Enter next name: Valerie
Enter next name: Bob
Enter next name: Valerie
Enter next name: Amelia
Enter next name: Bob
Enter next name:
There is 1 student named Amelia
There are 2 students named Bob
There are 2 students named Valerie
```

3. Write a python function subsetSum() that takes as input a list of positive numbers and a positive number target. Your function should return True if there are three numbers in the list that add up to target. For example, if the input list is [5, 4, 10, 20, 15, 19] and target is 38, then True should be returned since 4+15+19 = 38. However, if the input list is the same but the target value is 10, then the returned value should be False because 10 is not the sum of any three numbers in the given list.

4. Write the function alternatingSum(L) that takes a list of numbers and returns the alternating sum (where the sign alternates from positive to negative or vice versa). For example, 
alternatingSum([5,3,8,4]) returns 6 (that is, 5-3+8-4). 
If the list is empty, return 0.

## **SOLUTIONS**

---

***Answer 1)***

In [ ]:
def geometric(a):
    r = a[1]/a[0]
    for i in range(len(a)-1):
        if a[i+1]/a[i] != r:
            return False
    return True

In [ ]:
geometric([2, 4, 8, 16, 32, 64, 128, 256])

True

In [ ]:
geometric([2, 4, 6, 8])

False

***Answer 2)***

In [ ]:
def names():
    inp = "initialName"
    namesList =[]
    while len(inp)!=0:
        inp = input("Enter next name: ")
        if len(inp)!=0:
            namesList.append(inp)
    namesList.sort()
    x=1
    for i in range(len(namesList)-1):
        if(namesList[i]!=namesList[i+1]):
            print("There are "+ str(x)+ " students named " + namesList[i])
            x=0
        x+=1
    print("There are "+ str(x)+ " students named " + namesList[len(namesList)-1])

In [ ]:
names()

Enter next name: maya
Enter next name: sunny
Enter next name: suraj
Enter next name: sunny
Enter next name: maya
Enter next name: raghav
Enter next name:
There are 2 students named maya
There are 1 students named raghav
There are 2 students named sunny
There are 1 students named suraj

***Answer 3)***

In [7]:
import itertools

def subsetSum(s, target):
  ls = list(itertools.combinations(s,3))
  for item in ls:
    if sum(item)== target:
      return True
  return False

subsetSum([5, 4, 10, 20, 15, 19],38)

True

***Answer 4)***

In [ ]:
def alternatingSum(l):
    sum = 0
    if len(l)==0:
      return 0  
    for i in range(len(l)):
      if i%2==0:
        sum += l[i]
      else:
        sum -=l[i]
    return sum

In [ ]:
print(alternatingSum([1, 5, 6, 3,2]))

1