# **GANDHAM PRASANTHI**

# **1MS19CS045**

#**LISTS**

---

## **QUESTIONS**

---

1.	Write a python program to demonstrate, a list rotation consists of taking the last element and moving it to the front. For instance, if we rotate the list [1,2,3,4,5], we get [5,1,2,3,4]. If we rotate it again, we get [4,5,1,2,3].Write a Python function rotatelist(ls,k) that takes a list ls and a positive integer k and returns the list ls after k rotations. If k is not positive, your function should return ls unchanged. Note that your function should not change ls itself, and should return the rotated list.Here are some examples to show how your function should work.
```
  rotatelist([1,2,3,4,5],1) #output is [5, 1, 2, 3, 4]
  rotatelist([1,2,3,4,5],3) #output is [3, 4, 5, 1, 2] 
  rotatelist([1,2,3,4,5],12) #output is [4, 5, 1, 2, 3]
```
2.	Write a python program to create list1 and list2, be two lists of integers.We say that list1 is a sublist of list2 if the elements in list1 appear in list2 in the same order as they appear in list1, but not necessarily consecutively.
 
```
  sublist([15, 1, 100], [20, 15, 30, 50, 1, 100])
    True
  sublist([15, 50, 20], [20, 15, 30, 50, 1, 100])
    False
```
3.	Write a Python program that prompts the user to enter a list of words and stores in a list only those words whose first letter occurs again within the word (for example, 'Baboon'). The program should display the resulting list.

## **SOLUTIONS**

---

***Answer 1)***

In [ ]:
def rotateList(ls, k):
  if k<1:
    return ls
  new_ls =[]
  k = k%len(ls)
  new_ls.extend(ls[-k:])
  new_ls.extend(ls[:-k])
  return new_ls

In [ ]:
rotateList([1,2,3,4,5],1)

[5, 1, 2, 3, 4]

In [ ]:
rotateList([1,2,3,4,5],3)

[3, 4, 5, 1, 2]

In [ ]:
rotateList([1,2,3,4,5],12)

[4, 5, 1, 2, 3]

***Answer 2)***

In [ ]:
def sublist(ls1, ls2):
  index = 0
  for item1 in ls1:
    flag = False
    for i in range(index, len(ls2)):
      if item1 == ls2[i]:
        index = i+1
        flag = True
    if not flag:
      return False
  return True

In [ ]:
sublist([15, 1, 100], [20, 15, 30, 50, 1, 100])

True

In [ ]:
sublist([15, 50, 20], [20, 15, 30, 50, 1, 100])

False

***Answer 3)***

In [ ]:
def readNames():
  n = int((input("Enter number of names: ")))
  lst = []
  for _ in range(n):
    temp = input("Enter name: ")
    first = temp[0].lower()
    for char in temp[1:]:
      if char.lower()==first:
        lst.append(temp)
        break
  print(lst)

In [ ]:
readNames()

Enter number of names: 5
Enter name: baBloo
Enter name: Babloo
Enter name: bunty
Enter name: babloo
Enter name: sonia
['baBloo', 'Babloo', 'babloo']