# **GANDHAM PRASANTHI**

# **1MS19CS045**

#**TUPLES AND SETS**

---

## **QUESTIONS**

---

1.	Given a list of tuples, extract all tuples having K digit elements.
```
Input : test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78, )], K = 2 
Output : [(34, 55), (12, 45), (78,)] 
Explanation : All tuples have numbers with 2 digits.
Input : test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (782, )], K = 3 
Output : [(782,)] 
Explanation : All tuples have numbers with 3 digits. 
```
2.	While working with Python data, we can have a problem in which we have data in form of nested and non-nested form inside in a single tuple, and we wish to count the element frequency in them. This kind of problem can come in domains such as web development and Data Science. 
```
Input : test_tuple = (5, (6, (7, 8, 6)))
Output : {5: 1, 6: 2, 7: 1, 8: 1}
Input : test_tuple = (5, 6, 7, 8)
Output : {5: 1, 6: 1, 7: 1, 8: 1}
```
3.	Given a set, write a Python program to generate all possible subset of size n of given set within a list.
```
Examples:
Input : {1, 2, 3}, n = 2
Output : [{1, 2}, {1, 3}, {2, 3}]
Input : {1, 2, 3, 4}, n = 3
Output : [{1, 2, 3}, {1, 2, 4}, {1, 3, 4}, {2, 3, 4}]
```

## **SOLUTIONS**

---

***Answer 1)***

In [ ]:
def kDigitTuple(lst, k):
  output_list = []

  for tup in lst:
    flag = True
    for ele in tup:
      if len(str(ele)) != k:
        flag = False
    if flag:
      output_list.append(tup)

  return output_list

In [ ]:
kDigitTuple([(54, 2), (34, 55), (222, 23), (12, 45), (78, )],2)

[(34, 55), (12, 45), (78,)]

***Answer 2)***

In [ ]:
d = {}
def counter(tuple):
  for tup in tuple:
    if type(tup) is int:
      if tup not in d:
        d[tup] = 1
      else:
        d[tup] += 1
    else:
      counter(tup)

In [ ]:
counter((5, (6, (7, 8, 6))))
print(d)

{5: 1, 6: 2, 7: 1, 8: 1}

***Answer 3)***

In [8]:
import itertools

def subsets(s, n):
  return list(map(set,itertools.combinations(s,n)))

subsets({1, 2, 3},2)

[{1, 2}, {1, 3}, {2, 3}]

In [9]:
subsets({1, 2, 3, 4},3)

[{1, 2, 3}, {1, 2, 4}, {1, 3, 4}, {2, 3, 4}]